$text-main-c: #393939;
$text-secondary-c: #0047BB;
$text-third-c: #686A73;
$text-active-c: #0047BB;
$title-c: #393939;
$title-secondary-c: #32598D;
$icon-fill-c: #0047BB;
$icon-fill-secondary-c: #435376;
$border-main-c: #F5F7FA;
$border-secondary-c: #E0E4E8;
$link-main-c: #0047BB;
$link-secondary-c: #165AB7;
$link-third-c: #062D63;
$button-main-c: #0047BB;
$button-hover-c: #2275E6;
$error-c: #f54848;

$font-main: "MuseoSansCyrl", "Arial", sans-serif;
//$font-second: "PTMono", "Arial", sans-serif;
