@import '../../../assets/global-style/mixin';

.slider-main {
	padding-bottom: 40px;

	&__slide {
		position: relative;
		padding-bottom: 30%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
