<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div class="steps js-steps">
            <div class="steps__list">
                <div class="steps__el js-steps-el">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis cupiditate nulla aliquam ea autem illum non quibusdam
                    dicta labore rerum iure eius dignissimos commodi earum ad ex, aliquid maxime eveniet!1111111111111
                </div>
                <div class="steps__el js-steps-el">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam cumque maxime facilis quidem neque possimus dolorem ex
                    similique odio eligendi! Labore voluptates in porro impedit tempore ipsum obcaecati rerum eum!22222222222222 Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Magnam cumque maxime facilis quidem neque possimus dolorem ex similique
                    odio eligendi! Labore voluptates in porro impedit tempore ipsum obcaecati rerum eum!22222222222222 Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Magnam cumque maxime facilis quidem neque possimus dolorem ex similique odio
                    eligendi! Labore voluptates in porro impedit tempore ipsum obcaecati rerum eum!22222222222222 Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Magnam cumque maxime facilis quidem neque possimus dolorem ex similique odio eligendi!
                    Labore voluptates in porro impedit tempore ipsum obcaecati rerum eum!22222222222222
                </div>
            </div>
            <button class="steps__next js-steps-prev">Prev</button>
            <button class="steps__next js-steps-next">Next</button>
        </div>
    </body>
</html>
